@tailwind base;
@tailwind components;
@tailwind utilities;

.border-image-container {
  background-image: url('/border.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
}

@media (max-width: 768px) {
  .border-image-container {
    background-image: none;
    width: 100%;
    margin-top: -60px;
  }
}